# git-ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):
# *.[oa]
# *~
/log/*.log
/sample_controller_spec.txt

/**/.svn

/previous_failures.txt

**/.DS_Store/*
.DS_Store/*
.DS_Store

/config/database.yml
/config/deploy.rb
/config/mongrel_cluster.yml

/db/*db
/db/schema.rb
/db/*.sql
/db/*.sqlite
/db/*.sqlite3

/doc/*

/spec/spec.opts
/spec/rcov.opts

/tmp/*

