/* Simple Reset
 * ----------------------------------------------------------------*/
body, ul, ol, li, dl { padding: 0; margin: 0; }

/* Standard Styles
 * ----------------------------------------------------------------*/
body {
    font: normal 14px/1.25em Georgia, serif;
    color: #000000;
    background-color: #FFFFFF;
    text-align: center;
}

h1 {
    background: transparent url(/images/banner.jpg) repeat-x 50% 0%;
    padding: 0;
    margin: 0;
    
}
    h1 a {
        background: transparent url(/images/logo.png) no-repeat 50% 0%;
        height: 160px;
        display: block;
        text-indent: -999em;
    }

h2 {
    font: normal 1.7em "LucidaBright Demi", "LucidaBright", Georgia, serif;
    text-transform: uppercase;
    padding-bottom: 1em;
    background: transparent url(/images/bg-star-divider.png) no-repeat 50% 100%;
}   

h3 {
    font: normal 1.25em "LucidaBright Demi", "LucidaBright", Georgia, serif;
    text-transform: uppercase;
} 

a {
    color: #006626;
}
    a:hover { text-decoration: none; }
    
/* Layout
 * ----------------------------------------------------------------*/
#content {
    margin: -25px auto 30px;
    padding-top: 70px;
    width: 60em;
    background: transparent url(/images/broken-piggy.png) no-repeat 47.5% 0%;
}

#main {
    text-align: left;
    float: left;
    width: 31em;
    padding: 1em 2em;
}

#rail {
    text-align: left;
    width: 21em;
    margin-left: 35em;
    padding: 1em 2em;
    background: transparent url(/images/bg-rail.png) repeat-y 0% 0%;
}

/* Specific Styles
 * ----------------------------------------------------------------*/

#main ul {
    list-style: none;
}

#tweets ul {
    padding: 1em 0;
}
    #tweets li {
        padding: 0 2em 2em 70px;
        margin-bottom: 1em;
        background: transparent url(/images/bg-divider.png) no-repeat 50% 100%;
    }
    
    #tweets li img {
        float: left;
        clear: both;
        margin-left: -70px;
        border: solid 1px #c7bfa9;
    }
    
    #tweets li q {
        quotes: none;
    }

    #tweets li .meta {
        font-style: italic;
        margin-top: .5em;
    }
    
#rail ol {
    list-style: upper-roman;
    padding-left: 2em;
}
